.env
/wandb
/source/wandb
/source/decision_tree.png
/source/mlops/notebooks/__pycache__
/source/mlops/notebooks/.ipynb_checkpoints
/source/mlops/notebooks/wandb
/source/mlops/notebooks/artifacts
/source/mlops/data/wandb
/source/mlops/modules/wandb
/source/mlops/data/wandb
/source/mlops/app/wandb
/source/mlops/api/wandb
/source/.vscode
/.venv
/*.png
/source/mlops/data/__pycache__
/source/app/__pycache__
/source/api/__pycache__
/source/api/wandb
*/__pycache__
*/wandb
*/artifacts