.env
/wandb
/source/wandb
/source/decision_tree.png
/source/notebooks/__pycache__
/source/notebooks/.ipynb_checkpoints
/source/notebooks/wandb
/source/notebooks/artifacts
/source/data/wandb
/source/app/wandb
/source/api/wandb
/source/.vscode
/.venv
/*.png
/source/data/__pycache__
/source/app/__pycache__
/source/api/__pycache__